<tr class="light">
  <td class="position">1</td>
  <td class="equipe">Biom Olympique</td>
  <td class="number">18</td>
  <td class="number">14</td>
  <td class="number">1</td>
  <td class="number">3</td>
  <td class="number">84</td>
  <td class="number">43</td>
  <td class="number">41</td>
  <td class="points">47</td>
</tr>
<tr class="shade">
  <td class="position">2</td>
  <td class="equipe">Investipole</td>
  <td class="number">18</td>
  <td class="number">11</td>
  <td class="number">2</td>
  <td class="number">5</td>
  <td class="number">117</td>
  <td class="number">74</td>
  <td class="number">43</td>
  <td class="points">42</td>
</tr>
<tr class="light">
  <td class="position">3</td>
  <td class="equipe"><strong><a>Fuzion 2 (PMI2)</a></strong></td>
  <td class="number">18</td>
  <td class="number">10</td>
  <td class="number">1</td>
  <td class="number">7</td>
  <td class="number">69</td>
  <td class="number">57</td>
  <td class="number">12</td>
  <td class="points">39</td>
</tr>
<tr class="shade">
  <td class="position">4</td>
  <td class="equipe">Mions Football</td>
  <td class="number">16</td>
  <td class="number">10</td>
  <td class="number">2</td>
  <td class="number">4</td>
  <td class="number">62</td>
  <td class="number">40</td>
  <td class="number">22</td>
  <td class="points">38</td>
</tr>
<tr class="light">
  <td class="position">5</td>
  <td class="equipe">Club Loisir du Rhône</td>
  <td class="number">18</td>
  <td class="number">10</td>
  <td class="number">0</td>
  <td class="number">8</td>
  <td class="number">81</td>
  <td class="number">61</td>
  <td class="number">20</td>
  <td class="points">38</td>
</tr>
<tr class="shade">
  <td class="position">6</td>
  <td class="equipe">US Divonaise</td>
  <td class="number">17</td>
  <td class="number">8</td>
  <td class="number">3</td>
  <td class="number">6</td>
  <td class="number">67</td>
  <td class="number">48</td>
  <td class="number">19</td>
  <td class="points">36</td>
</tr>
<tr class="light">
  <td class="position">7</td>
  <td class="equipe">Lokomotiv Alstom</td>
  <td class="number">17</td>
  <td class="number">7</td>
  <td class="number">1</td>
  <td class="number">9</td>
  <td class="number">59</td>
  <td class="number">79</td>
  <td class="number">-20</td>
  <td class="points">32</td>
</tr>
<tr class="shade">
  <td class="position">8</td>
  <td class="equipe">Olympique Vénissieux 2</td>
  <td class="number">17</td>
  <td class="number">4</td>
  <td class="number">2</td>
  <td class="number">11</td>
  <td class="number">63</td>
  <td class="number">85</td>
  <td class="number">-22</td>
  <td class="points">27</td>
</tr>
<tr class="light">
  <td class="position">9</td>
  <td class="equipe">HDK Lyon</td>
  <td class="number">15</td>
  <td class="number">3</td>
  <td class="number">2</td>
  <td class="number">10</td>
  <td class="number">31</td>
  <td class="number">61</td>
  <td class="number">-30</td>
  <td class="points">21</td>
</tr>
<tr class="shade">
  <td class="position">10</td>
  <td class="equipe">Logica</td>
  <td class="number">16</td>
  <td class="number">1</td>
  <td class="number">0</td>
  <td class="number">15</td>
  <td class="number">29</td>
  <td class="number">114</td>
  <td class="number">-85</td>
  <td class="points">18</td>
</tr>
</table>
<small>Pénalités :<br />
  - HDK Lyon : 2 points
</small>