<tr class="light">
  <td class="position">1</td>
  <td class="equipe">Etoile Rouge de Lyon</td>
  <td class="number">18</td>
  <td class="number">13</td>
  <td class="number">3</td>
  <td class="number">2</td>
  <td class="number">104</td>
  <td class="number">56</td>
  <td class="number">48</td>
  <td class="points">47</td>
</tr>
<tr class="shade">
  <td class="position">2</td>
  <td class="equipe">Cargo 1</td>
  <td class="number">17</td>
  <td class="number">10</td>
  <td class="number">2</td>
  <td class="number">5</td>
  <td class="number">82</td>
  <td class="number">67</td>
  <td class="number">15</td>
  <td class="points">39</td>
</tr>
<tr class="light">
  <td class="position">3</td>
  <td class="equipe">Olympique de Vaulx</td>
  <td class="number">17</td>
  <td class="number">9</td>
  <td class="number">2</td>
  <td class="number">6</td>
  <td class="number">89</td>
  <td class="number">55</td>
  <td class="number">34</td>
  <td class="points">37</td>
</tr>
<tr class="shade">
  <td class="position">4</td>
  <td class="equipe">Lejaby 1</td>
  <td class="number">18</td>
  <td class="number">7</td>
  <td class="number">3</td>
  <td class="number">8</td>
  <td class="number">72</td>
  <td class="number">94</td>
  <td class="number">-22</td>
  <td class="points">35</td>
</tr>
<tr class="light">
  <td class="position">5</td>
  <td class="equipe">Go Vienne</td>
  <td class="number">17</td>
  <td class="number">6</td>
  <td class="number">4</td>
  <td class="number">7</td>
  <td class="number">66</td>
  <td class="number">71</td>
  <td class="number">-5</td>
  <td class="points">33</td>
</tr>
<tr class="shade">
  <td class="position">6</td>
  <td class="equipe">Pharaon 1</td>
  <td class="number">16</td>
  <td class="number">8</td>
  <td class="number">1</td>
  <td class="number">7</td>
  <td class="number">106</td>
  <td class="number">80</td>
  <td class="number">26</td>
  <td class="points">31</td>
</tr>
<tr class="light">
  <td class="position">7</td>
  <td class="equipe">Olympique Vénissieux 1</td>
  <td class="number">15</td>
  <td class="number">7</td>
  <td class="number">2</td>
  <td class="number">6</td>
  <td class="number">72</td>
  <td class="number">48</td>
  <td class="number">24</td>
  <td class="points">31</td>
</tr>
<tr class="shade">
  <td class="position">8</td>
  <td class="equipe"><strong><a>Fuzion 2 (PMI2)</a></strong></td>
  <td class="number">18</td>
  <td class="number">5</td>
  <td class="number">6</td>
  <td class="number">7</td>
  <td class="number">79</td>
  <td class="number">82</td>
  <td class="number">-3</td>
  <td class="points">31</td>
</tr>
<tr class="light">
  <td class="position">9</td>
  <td class="equipe">Lokomotiv Alstom</td>
  <td class="number">18</td>
  <td class="number">3</td>
  <td class="number">4</td>
  <td class="number">11</td>
  <td class="number">44</td>
  <td class="number">112</td>
  <td class="number">-68</td>
  <td class="points">28</td>
</tr>
<tr class="shade">
  <td class="position">10</td>
  <td class="equipe">ACS Vinatier</td>
  <td class="number">18</td>
  <td class="number">3</td>
  <td class="number">3</td>
  <td class="number">12</td>
  <td class="number">64</td>
  <td class="number">113</td>
  <td class="number">-49</td>
  <td class="points">26</td>
</tr>
</table>
<small>Pénalités :<br />
  - Fuzion 2 (PMI2) : 3 points<br />
  - Pharaon 1 : 2 points<br />
  - ASC Vinatier : 1 point
</small>