<tr class="light">
  <td class="position">1</td>
  <td class="equipe">Baratapas United FC</td>
  <td class="number">18</td>
  <td class="number">15</td>
  <td class="number">1</td>
  <td class="number">2</td>
  <td class="number">111</td>
  <td class="number">46</td>
  <td class="number">65</td>
  <td class="points">49</td>
</tr>
<tr class="shade">
  <td class="position">2</td>
  <td class="equipe">Club Loisir du Rhône</td>
  <td class="number">18</td>
  <td class="number">14</td>
  <td class="number">0</td>
  <td class="number">4</td>
  <td class="number">115</td>
  <td class="number">64</td>
  <td class="number">51</td>
  <td class="points">46</td>
</tr>
<tr class="light">
  <td class="position">3</td>
  <td class="equipe">Cargo</td>
  <td class="number">18</td>
  <td class="number">12</td>
  <td class="number">0</td>
  <td class="number">6</td>
  <td class="number">81</td>
  <td class="number">51</td>
  <td class="number">30</td>
  <td class="points">42</td>
</tr>
<tr class="shade">
  <td class="position">4</td>
  <td class="equipe">HDK Lyon</td>
  <td class="number">18</td>
  <td class="number">12</td>
  <td class="number">0</td>
  <td class="number">6</td>
  <td class="number">56</td>
  <td class="number">50</td>
  <td class="number">6</td>
  <td class="points">42</td>
</tr>
<tr class="light">
  <td class="position">5</td>
  <td class="equipe"><strong><a>Fuzion 2 (PMI2)</a></strong></td></td>
  <td class="number">18</td>
  <td class="number">8</td>
  <td class="number">3</td>
  <td class="number">7</td>
  <td class="number">93</td>
  <td class="number">74</td>
  <td class="number">19</td>
  <td class="points">37</td>
</tr>
<tr class="shade">
  <td class="position">6</td>
  <td class="equipe">Lokomotiv Alstom</td>
  <td class="number">18</td>
  <td class="number">8</td>
  <td class="number">1</td>
  <td class="number">9</td>
  <td class="number">78</td>
  <td class="number">58</td>
  <td class="number">20</td>
  <td class="points">35</td>
</tr>
<tr class="light">
  <td class="position">7</td>
  <td class="equipe">Olympique Vénissieux</td>
  <td class="number">18</td>
  <td class="number">6</td>
  <td class="number">0</td>
  <td class="number">12</td>
  <td class="number">59</td>
  <td class="number">88</td>
  <td class="number">-29</td>
  <td class="points">29</td>
</tr>
<tr class="shade">
  <td class="position">8</td>
  <td class="equipe">ADP Mézieux</td>
  <td class="number">16</td>
  <td class="number">5</td>
  <td class="number">1</td>
  <td class="number">10</td>
  <td class="number">63</td>
  <td class="number">82</td>
  <td class="number">-19</td>
  <td class="points">25</td>
</tr>
<tr class="light">
  <td class="position">9</td>
  <td class="equipe">Plastochim</td>
  <td class="number">18</td>
  <td class="number">1</td>
  <td class="number">0</td>
  <td class="number">17</td>
  <td class="number">43</td>
  <td class="number">148</td>
  <td class="number">-105</td>
  <td class="points">20</td>
</tr>
<tr class="shade">
  <td class="position">10</td>
  <td class="equipe">La Tounga</td>
  <td class="number">16</td>
  <td class="number">4</td>
  <td class="number">0</td>
  <td class="number">12</td>
  <td class="number">49</td>
  <td class="number">87</td>
  <td class="number">-38</td>
  <td class="points">19</td>
</tr>
</table>
<small>Pénalités :<br />
  - Olympique Vénissieux : 1 point<br />
  - ADP Mézieux : 2 points<br />
  - La Tounga : 5 points
</small>