/* menu top */

.navcontainer01{display:block;float:left;height:39px;margin:0;padding:0px 0 0 0px;text-align:left;width:980px;z-index:1000;  margin:0px 0 10px 0}
.navcontainer01 ul { height:39px; display: block; float:left;padding:0 ;list-style: none;clear:both;width:980px; color:#000;z-index:1000000; margin:0px;background-image:url(menu.gif); background-repeat:repeat-x; background-position:top;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.navcontainer01 ul li{margin: 0;  padding: 0 0px 0 0; overflow: hidden; float: left;background-image:none; list-style:none;  }
.navcontainer01 ul li a{padding:12px 27px;float: left;text-decoration:none;color:#fff;clear:both; font-family:"Arial"}
.navcontainer01 ul li a:hover{color:#fff; text-decoration:none; background-image:url(menu_hover.png);background-repeat:repeat-x}

.navcontainer01 ul li a.contact_menu{padding:12px 32px 12px 32px;float: left;text-decoration:none;color:#eee;clear:both;}

.navcontainer01 ul li.current a{ color:#fff;background-image:url(menu_current.png); background-repeat:repeat-x}
.navcontainer01 ul li.current a:hover{ color:#fff;}

.navcontainer01 ul li.current a.first{color:#fff;  background-image:url(menu_current.png); background-repeat:repeat-x;-webkit-border-top-left-radius: 4px;-webkit-border-bottom-left-radius: 4px;-moz-border-radius-topleft: 4px;
-moz-border-radius-bottomleft: 4px;border-top-left-radius: 4px;border-bottom-left-radius: 4px; }
.navcontainer01 ul li a.first:hover{ color:#fff; text-decoration:none;-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-left-radius: 4px;-moz-border-radius-topleft: 4px;-moz-border-radius-bottomleft: 4px;border-top-left-radius: 4px;border-bottom-left-radius: 4px;}


.menu_vert_header{display:block; float:left;width:100%;}
.menu_vert_footer{display:block; float:left;width:100%;}




/* prototabs */
.tabs_all{display:block; float:left;  border:1px solid #ccc; margin:0 0 20px 0; width:688px}
.tabs10 {width:100%;line-height:normal; display:block; float:left;background-color:#eee;}
.tabs10 ul{padding-left:0px; margin:0px; display:block; float:left;width:688px;}
.tabs10 li {display:inline;}

.tabs10 li a {float:left;padding:10px 5px;color:#333; font-weight:bold; margin:0; background-color:#eee; border-right:1px solid #ccc;}
.tabs10 li a:hover  {color:#666; background-color:#fff}
.tabs10 li a#selected  {color:#666; background-color:#fff}
.tab_bloc{display:block;width:100%;float:left; }
.tab_content{display:block;padding:10px 2%; margin:0;width:96%;float:left; background-color:#FFFFFF }
.tab_content h2{}

/* menu left */
.tree_categories{ float:left;width:90%;margin:0; padding:5px 5%;-moz-border-radius: 5px; 
                  -webkit-border-radius: 5px;
                  border-radius: 5px; background-color:#f6f6f6; margin:0 0 5px 0}
.tree_categories ul { list-style:none; display:block; margin:0; padding:0; font-size:1.2em}
.tree_categories ul li b{ display:block; float:left; margin:0 ; padding:4px 0 4px 4%; font-size:1em; width:96%}
.tree_categories ul li { margin:0; float:left; display:block; width:100%; padding:1px 0; font-weight:bold; font-size:0.9em;  }
.tree_categories ul li ul li{ margin:0; float:left; display:block; padding:0 0 0 10px; font-weight:normal;}
.tree_categories ul li ul li a{ color:#000;padding:0 1%; margin:0;  font-weight:normal; text-decoration:none;display:block; float:left; width:98%; background-image:none; }
.tree_categories ul li ul li a:hover{ color:#000; margin:0;  font-weight:normal; text-decoration:underline;display:block; float:left; width:98%;background-image:none; background-color:#FFFFFF}
.tree_categories ul li ul li.current3 a{ text-decoration:underline}

.tree_categories ul li a{ color:#000; font-weight:normal;padding:1px 0 1px 6%; margin:0;text-decoration:none;display:block; float:left; width:94%; font-size:0.9em; background-image:url(../images/arrow_tree_categories.gif); background-repeat:no-repeat; background-position:0 7px}
.tree_categories ul li a:hover{ margin:0;color:#000;text-decoration:underline;color:#000}
.tree_categories ul li#current2 {text-decoration:underline; color:#000}
.tree_categories ul li#current2 a{ color:#000;font-weight:bold; }
.tree_categories ul li#current2 ul li {color:#000;font-weight:normal; text-decoration:none; font-size:0.9em;}
.tree_categories ul li#current2 ul li a{ text-decoration:none; font-weight:normal}


.media_video{ display:block; float:left; width:100%}



