<div id="subnav">
  <ul>
    <li>
       <%=  link_to "Gérer les actualités", admin_posts_path %>
    </li>
    <li>
     Gérer les rubriques des actualités
    </li>
  </ul>
  <div style="clear: both;"></div>
</div>
<div id="content">
  <%= yield %>
</div>
