<tr class="light">
  <td class="numero">3</td>
  <td class="joueur">Sebastien</td>
  <td class="poste">Défenseur</td>
  <td class="stat left">11</td>
  <td class="stat">3</td>
  <td class="stat">2</td>
  <td class="stat left">5</td>
  <td class="stat">0</td>
  <td class="stat">5</td>
  <td class="stat left">2</td>
  <td class="stat">1</td>
  <td class="stat">3</td>
  <td class="stat left">16</td>
  <td class="stat">3</td>
  <td class="stat">7</td>
</tr>
<tr class="shade">
  <td class="numero">5</td>
  <td class="joueur">Rico</td>
  <td class="poste">Milieu</td>
  <td class="stat left">11</td>
  <td class="stat">0</td>
  <td class="stat">5</td>
  <td class="stat left">5</td>
  <td class="stat">0</td>
  <td class="stat">2</td>
  <td class="stat left">0</td>
  <td class="stat">0</td>
  <td class="stat">0</td>
  <td class="stat left">16</td>
  <td class="stat">0</td>
  <td class="stat">7</td>
</tr>
<tr class="light">
  <td class="numero">6</td>
  <td class="joueur">David Dal Gobbo</td>
  <td class="poste">Défenseur</td>
  <td class="stat left">12</td>
  <td class="stat">14</td>
  <td class="stat">2</td>
  <td class="stat left">3</td>
  <td class="stat">1</td>
  <td class="stat">2</td>
  <td class="stat left">2</td>
  <td class="stat">5</td>
  <td class="stat">3</td>
  <td class="stat left">15</td>
  <td class="stat">15</td>
  <td class="stat">4</td>
</tr>
<tr class="shade">
   <td class="numero">7</td>
  <td class="joueur">Viv</td>
  <td class="poste">Milieu</td>
  <td class="stat left">15</td>
  <td class="stat">11</td>
  <td class="stat">16</td>
  <td class="stat left">5</td>
  <td class="stat">5</td>
  <td class="stat">3</td>
  <td class="stat left">2</td>
  <td class="stat">4</td>
  <td class="stat">2</td>
  <td class="stat left">20</td>
  <td class="stat">16</td>
  <td class="stat">19</td>
</tr>
<tr class="light">
  <td class="numero">8</td>
  <td class="joueur">Belu</td>
  <td class="poste">Milieu</td>
  <td class="stat left">11</td>
  <td class="stat">5</td>
  <td class="stat">9</td>
  <td class="stat left">4</td>
  <td class="stat">3</td>
  <td class="stat">2</td>
  <td class="stat left">1</td>
  <td class="stat">0</td>
  <td class="stat">1</td>
  <td class="stat left">15</td>
  <td class="stat">8</td>
  <td class="stat">11</td>
</tr>
<tr class="shade">
  <td class="numero">9</td>
  <td class="joueur">Laurent Buffevant</td>
  <td class="poste">Attaquant</td>
  <td class="stat left">15</td>
  <td class="stat">21</td>
  <td class="stat">5</td>
  <td class="stat left">5</td>
  <td class="stat">13</td>
  <td class="stat">3</td>
  <td class="stat left">2</td>
  <td class="stat">8</td>
  <td class="stat">4</td>
  <td class="stat left">20</td>
  <td class="stat">34</td>
  <td class="stat">8</td>
</tr>
<tr class="light">
  <td class="numero">10</td>
  <td class="joueur">Jeremy Ackerer</td>
  <td class="poste">Milieu</td>
  <td class="stat left">11</td>
  <td class="stat">14</td>
  <td class="stat">4</td>
  <td class="stat left">5</td>
  <td class="stat">9</td>
  <td class="stat">7</td>
  <td class="stat left">0</td>
  <td class="stat">0</td>
  <td class="stat">0</td>
  <td class="stat left">16</td>
  <td class="stat">23</td>
  <td class="stat">11</td>
</tr>
<tr class="shade">
  <td class="numero">11</td>
  <td class="joueur">Stefen Magnin</td>
  <td class="poste">Défenseur</td>
  <td class="stat left">14</td>
  <td class="stat">6</td>
  <td class="stat">6</td>
  <td class="stat left">4</td>
  <td class="stat">2</td>
  <td class="stat">1</td>
  <td class="stat left">1</td>
  <td class="stat">0</td>
  <td class="stat">1</td>
  <td class="stat left">18</td>
  <td class="stat">8</td>
  <td class="stat">7</td>
</tr>
<tr class="light">
  <td class="numero">13</td>
  <td class="joueur">Gary Grech</td>
  <td class="poste">Milieu</td>
  <td class="stat left">13</td>
  <td class="stat">0</td>
  <td class="stat">1</td>
  <td class="stat left">4</td>
  <td class="stat">1</td>
  <td class="stat">0</td>
  <td class="stat left">2</td>
  <td class="stat">0</td>
  <td class="stat">0</td>
  <td class="stat left">17</td>
  <td class="stat">1</td>
  <td class="stat">1</td>
</tr>
<tr class="shade">
  <td class="numero">17</td>
  <td class="joueur">David Bourette</td>
  <td class="poste">Milieu</td>
  <td class="stat left">14</td>
  <td class="stat">4</td>
  <td class="stat">3</td>
  <td class="stat left">5</td>
  <td class="stat">0</td>
  <td class="stat">0</td>
  <td class="stat left">2</td>
  <td class="stat">0</td>
  <td class="stat">2</td>
  <td class="stat left">19</td>
  <td class="stat">4</td>
  <td class="stat">3</td>
</tr>
<tr class="light">
  <td class="numero">18</td>
  <td class="joueur">Maxime corrand</td>
  <td class="poste">Défenseur</td>
  <td class="stat left">13</td>
  <td class="stat">1</td>
  <td class="stat">2</td>
  <td class="stat left">5</td>
  <td class="stat">1</td>
  <td class="stat">0</td>
  <td class="stat left">1</td>
  <td class="stat">1</td>
  <td class="stat">0</td>
  <td class="stat left">18</td>
  <td class="stat">2</td>
  <td class="stat">2</td>
</tr>
<tr class="shade">
  <td class="numero">69</td>
  <td class="joueur">Aymeric Dubost</td>
  <td class="poste">Attaquant</td>
  <td class="stat left">9</td>
  <td class="stat">5</td>
  <td class="stat">8</td>
  <td class="stat left">5</td>
  <td class="stat">7</td>
  <td class="stat">9</td>
  <td class="stat left">1</td>
  <td class="stat">0</td>
  <td class="stat">0</td>
  <td class="stat left">14</td>
  <td class="stat">12</td>
  <td class="stat">17</td>
</tr>
