<div id="subnav">
  <ul>
    <li>
      G&eacute;rer les actualités
    </li>
    <li>
      <%=  link_to "Gérer les rubriques des actualités", admin_sections_path %>
    </li>
  </ul>
  <div style="clear: both;"></div>
</div>
<div id="content">
  <%= yield %>
</div>
