/* table */
table { clear:both;border-collapse:collapse; border:0; margin:0; width:100%;-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;  padding:5px; font-size:12px;margin:20px 0}
table th{font-weight:normal; text-align:center; background-color:#666; font-size:10px; color:#fff}
table th.title{background-color:#fff}
table th a{ color:#666}
table tr.dark{ background-color:#eee;}
table tr{ }
table td{ padding:5px; font-size:0.9em;}







