form input, form textarea{  border:1px solid #ddd;
color:#333;padding:5px;  background-color:#fff; float:left;  font-size:1em;}
input:focus{background-color:#fff; color:#333; }
textarea:focus{background-color:#fff}
select{ border:1px solid #ddd; float:left; font-size:1em}
.toolbar form input{float:right; text-align:center}
input:value{color:#FF0000}
form div{padding:5px 0; display:block; float:left; clear:both; width:100%; text-align:right }

form div.required{text-align:left; clear:both; font-weight:bold ; padding:10px 0}
form div.optional{text-align:left;clear:both; padding:10px 0}
form div.required input{  background-repeat:no-repeat; background-position:right top}
form div span{ display:block; float:left; width:auto; padding:0 15px 0 2px}
fieldset{ border:1px solid #eee; padding:10px;}
legend{ font-size:1.1em; color:#999; padding:2px}
form div.required label{ color:#666; display:block; float:left;width:32%;  background-position:90% top; background-repeat:no-repeat;text-align:left; padding:4px 5% 0 0; }



label{ color:#666; display:block; float:left;width:32%;text-align:left; padding:5px 5% 5px 0; }
label span{ color:#fff }

.radio { display:block; clear:none; float:left; background-image:none; padding:0px 0px 0 0 ; margin:0 5px 0 0 ;}
.radio input {width:auto; padding:0;background-image:none;}

.checkbox {clear:none;background-image:none;padding:0; width:15px; display:block; float:left;}
input.checkbox {width:auto; padding:0;background-image:none; }

.select {clear:none; background-image:none;padding:5px; color:#666; margin:0 5px 0 0; width:78%}
.select input {width:auto; padding:0;background-image:none; }

#errorExplanation{ -moz-border-radius: 7px; 
-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
display:block; float:left; background-color:#CC3333; padding:10px; width:96%; color:#fff; text-align:left; margin-bottom:20px}
#errorExplanation h3{ font-size:1.3em; padding:2px; margin:0 0 10px 0; color:#fff; padding: 0 0 0 0px}
#errorExplanation span{ display:block; float:left; padding: 0 0 0 135px}
#errorExplanation ul{ display:block; float:left;padding:0; margin:0; padding: 0 0 0 0px}
#errorExplanation ul li{ padding:0; margin:0 0 0 12px; list-style:disc; background-image:none; font-weight:bold; color:#fff}
.field_with_errors{ clear:none; padding:0; color:#fff; width:40%}
.field_with_errors input{border:2px solid red;}
.field_with_errors input:focus{border:2px solid red; background-color:#eee}
.field_with_errors textarea{border:2px solid red;}
.field_with_errors textarea:focus{border:2px solid red; background-color:#eee}

.search.list{margin :0 0 15px 0; }
.search.list label{ width:45%}
.search.list select{ width:25%}
