body { -x-system-font:none; background:#CFCFCF none repeat scroll 0 0; color:#000000; font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif; font-size:0.8em; font-size-adjust:none; font-stretch:normal; font-style:normal; font-variant:normal; font-weight:normal; margin:0; padding:0; }
a:hover { color:#999; text-decoration:underline; }
a:link, a:visited { color:#333; text-decoration:none; }
h1,h2,h3,h4,h5{ display:block; float:left; clear:both; width:98%; padding:0 1%}
h2 { -x-system-font:none; color:#333; font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif; font-size:1.7em; font-size-adjust:none; font-stretch:normal; font-style:normal; font-variant:normal; font-weight:normal; letter-spacing:3px; line-height:normal; margin:20px 0 20px 3px; clear: both; }
#container { display:block; float:left; width:100%; border-bottom:1px solid #AFAFAF; background-color:#EDF0F4}
#topnav { -x-system-font:none; clear: both; background:transparent  url(admin/bgoff.png) repeat-x scroll left top; font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif; font-size:13px; font-size-adjust:none; font-stretch:normal; font-style:normal; font-variant:normal; font-weight:normal; height:36px; line-height:normal; margin:0; position: relative; }
#topnav ul { list-style: none; padding: 0; margin: 0; }
#topnav ul li { float: left; margin: 0; }
#topnav ul li a { background:transparent url(admin/bgdivider.png) no-repeat scroll right top; color:#4c4f46; display:block; float:left; height:25px; padding:11px 15px 0; text-decoration:none; text-transform:capitalize; }
#topnav ul li a:hover { background:#FFFFFF url(admin/bgover.png) repeat-x scroll left top; color:#000; }
#topnav ul li a.current { background:#FFFFFF url(admin/bgselected.png) repeat-x scroll left top; color:#FFF; }
    
#subnav { clear: both; background:#525251 none repeat scroll 0 0; border-bottom:1px solid #000000; margin-bottom:0; padding:5px 20px; color:#fff }
#subnav ul { list-style-image:none; list-style-position:outside; list-style-type:none; margin:0; padding:0; }
#subnav ul li { float:left; line-height:normal; padding:2px 20px 2px 0; }
#subnav li a { color:#ccc; text-decoration:none; }
#subnav li a:hover { color:#FFFFFF; text-decoration:underline; }
#subnav li a.current { color:#FFFFFF; font-weight:bold; text-decoration:underline; }


#content { display:block; float:left;clear: both; width:1100px;  margin:0 0 20px 0; padding:0 0 20px 0 }


.breadcrumb { clear: both; display:block; font: normal 10px "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, sans-serif; margin: 0; border-bottom: 1px solid #eee; padding: 5px 0 5px 10px}
.breadcrumb a { font-size:10px; background: transparent url(deco/breadcrumb.gif) no-repeat center right;text-decoration: none;padding-right:17px;padding-left:4px; /*adjust bullet image padding*/color: #999;}
.breadcrumb a:visited {}
.breadcrumb a:active { color:#fc0}
.breadcrumb a:hover {text-decoration: underline; color:#f90}
.breadcrumb .active { color:#f90; text-indent:5px;padding-right: 15px;padding-left:5px;}

#flash { width: 98%; padding: 10px 1%; background-image:url(admin/bkgd_flash.png);border-bottom:1px solid #F7F7F7;
border-top:1px solid #999999; background-color:#ccc }
div.notice  { padding: 10px; background-color: #90BF00; color: #fff;-moz-border-radius: 3px; -webkit-border-radius: 3px;
	border-radius: 3px; border:2px solid #eee }
div.error   { padding: 10px; background-color: #EF3A2C;color: #fff; -moz-border-radius: 3px; -webkit-border-radius: 3px;
	border-radius: 3px;border:2px solid #eee}
div.warning { padding: 10px; background-color: #FFA70F;color: #fff;-moz-border-radius: 3px; -webkit-border-radius: 3px;
	border-radius: 3px;border:2px solid #eee}

fieldset { float: left;clear:both; width:100%}

ul.tabs { float: left; margin: 0; padding: 20px 0 0 0; list-style-type: none; }
ul.tabs li { float: left; padding: 2px; border: 1px solid #999; margin: 1px; background-color: #ccc; }
ul.tabs li:hover { background-color: #fff; border: 1px solid #666; }
ul.tabs li.selected { border: 1px solid #666; background-color: #fff; }
.tab_content { padding: 5px; clear: both; float: left; border: 1px solid #666; }

span.attachment { color: #f60; font-size: 0.8em; }

ul.ordered { margin: 0; padding: 0; list-style-type: none; }
ul.ordered li { padding: 2px; border: 1px solid #999; margin: 1px; background-color: #ccc; }
ul.ordered li:hover { cursor: pointer; background-color: #fff; border: 1px solid #666; }

div.auto_complete { width: 350px; background: #fff; z-index: 2; }
div.auto_complete ul { border:1px solid #999; margin:0; padding:0; width:100%; list-style-type:none; }
div.auto_complete ul li { margin:0; padding:3px; }
div.auto_complete ul li.selected { background-color: #f0f0f0; color:#333 }
div.auto_complete ul li a { color: #666; }
div.auto_complete ul li.selected a { color: #666; }
div.auto_complete ul strong.highlight { color: #f90; margin:0; padding:0; }

.inline_media{ width:95.5%; padding:2%;margin:3px; display:block; float:left; clear:both; text-align:justify}
.inline_media p{ text-align:justify; float:left;}
.inline_media h3{ width:100%; color:#000; margin:0; padding:0}
.inline_media ul{margin:0; padding:0}

.inline_media .img_gauche{ display:block; float:left;margin:10px 20px 10px 10px;padding:15px; border-right:1px solid #999; background-color:#fff}
.inline_media .img_gauche img{ }
.inline_media .img_gauche span{ display:block; float:left; clear:both; font-size:0.8em}

.inline_media .img_droite{ display:block; float:right;margin:10px 10px 10px 20px;padding:15px; border-left:1px solid #999; background-color:#fff}
.inline_media .img_droite img{border:1px solid #eee;}
.inline_media .img_droite span{ display:block; float:left; clear:both; font-size:0.8em}

.customer_bar{ display:block; float:left; width:100%; height:70px; padding:20px 0; background-image:url(admin/bg_header.png); background-repeat:repeat-x; background-position:bottom; background-color:#867e73}
.customer_logo{ display:block; float:left; height:65px; width:250px;background-image:url(admin/logo_admin.png); background-repeat:no-repeat;}
.customer_logout{ display:block; float:right; height:25px; width:102px; padding : 6px 0}
.customer_logout img{ border: 0}


/* utiliser pour le formulaire user */
.bloc_50{ width:50%;padding:0%;  display:block; float:left;}
input.btn{ background-image:none; width:auto; padding:0}
.formtastic li { display:block; clear:both}
li.boolean label { float: left; text-align:left; }
li.boolean input { text-align:left; float: right;}


/* utiliser pour le formulaire user */
.bloc_50{ width:50%;padding:0%;  display:block; float:left;}
input.btn{ background-image:none; width:auto; padding:0}
.formtastic li { display:block; clear:both}
li.boolean label { float: left; text-align:left; }
li.boolean input { text-align:left; float: right;}


/* utiliser pour styliser le bloc vertical de gauche */
.left_tree{ display:block; float:left; width:25%; border:1px solid #ccc; padding:15px 5px 15px 5px; margin:10px 0 10px 10px; background-color:#fff;-moz-border-radius: 3px; -webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 rgba(0,0,0,0.3);
	box-shadow: 0 rgba(0,0,0,0.3);}
.left_tree img{ border:0}
.left_tree h4{ padding:0 0 5px 0; border-bottom:1px solid #eee; margin:0 0 5px 0}
.left_tree ul{ font-size:0.9em; display:block; float:left; padding:0; margin:10px 0; width:100%}
.left_tree ul li{-moz-border-radius: 3px; -webkit-border-radius: 3px;
	border-radius: 3px; display:block; float:left;background-color:#eee; width:92%; padding:5px 5% 5px 2%; margin:2px 0; font-size:1.2em}
.left_tree ul li.current{ background-color:#298CDD;font-weight:bold;}
.left_tree ul li.current a{color:#fff;}
.left_tree ul li.current ul li a{ color:#333; font-weight:normal}
.left_tree ul li a{color:#000}
.left_tree ul li a:hover{text-decoration:underline}
.left_tree ul li a.title{float:left; font-size:0.8em}
.left_tree ul li a.delete{float:right}
.left_tree ul li a.ui-button{float:right}
.left_tree ul li form{float:left; padding:0 5px 0 0}
.left_tree ul li ul {float:left; padding:0 0 0 5px; width:100%; }
.left_tree ul li ul li {background-color:#fff;}
.left_tree ul li ul li a{color:#666}
.left_tree ul li ul li ul {float:left; width:95%; padding:0 0 0 5%; margin:0}
.left_tree ul li ul li ul li {float:left; width:100%}
.left_tree ul li ul li ul li ul {float:left; width:95%; padding:0 0 0 5%}
.left_tree ul li ul li{float:left; padding:5px 0; width:100%; margin:1px 0; font-size:0.9em; border-top:0px dashed #eee; border-bottom:0px; border-left:0px; border-right:0px}


.left_tree a span.ui-button-text{ padding:0; margin:0; border:0;  background-color:transparent}

div.jquery_button a{ padding:0; margin:0; background-color:#B5CF74; color:#fff; border:0px; font-size:0.8em}

.right_content{ display:block; float:left; position:relative; width:70%; border:1px solid #ccc; background-color:#fff; margin:10px 5px; padding:65px 0 20px 0;-moz-border-radius: 3px; -webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 rgba(0,0,0,0.3);s
	-webkit-box-shadow: 0 rgba(0,0,0,0.3);
	box-shadow: 0 rgba(0,0,0,0.3);}
.right_content img{ border:none}
.right_content hr{ display:block; float:left; clear:both; border-bottom:1px dotted #ccc;border-top:0px solid #000;border-right:0px solid #000;border-left:0px solid #000; width:100%; margin:15px 0}

.right_content h4{font-weight:normal;-moz-border-radius: 3px;
-webkit-border-radius: 3px;
	border-radius: 3px; background-color:#eee; border:1px solid #ccc; font-size:1.6em; float:none;  margin:0 auto 15px auto; width:95%; padding:10px 1%; color:#333;}
.right_content h4#validation{ background-color:#F7DE9B}
.right_content h4#validate{ background-color:#D3E8B4}
.right_content h4#deleted{ background-color:#F4C19C}
.right_content h5{font-weight:normal; font-size:1.4em; float:none;  margin:0 auto 5px auto; width:94%; padding:10px 1%; color:#333;}
.right_content h4 b{font-style:italic; color:#000; text-decoration:underline}
.right_content fieldset{ border:0px solid #eee; padding:2px; margin:0}
.right_content fieldset legend{ font-weight:bold; font-size:1.4em; color:#666; padding:10px 0}
.block_dark{ display:block; float:left; width:100%; background-color:#f4f3ed; padding:0; border-bottom:0px solid #ccc;}
.block_light{ display:block; float:left; width:100%; background-color:#f4f3ed}
.block_new{ 	-moz-border-radius: 3px; -webkit-border-radius: 3px;
	border-radius: 3px;
	display:block; float:left; width:auto; color:#fff; background-color:#6FD7DF; padding:5px 10px; font-size:0.8em; margin:10px 0}
.block_small{
background-repeat: repeat-x;
border-bottom: 1px solid #EEE;
border-top: 1px solid #CCC;
display: block;
float: left;
margin: 0px;
padding: 10px 2%;
width: 96%;
background-image:url(..admin/category-name.png); 
background-repeat:repeat-x
}

.block_dark .block_small{border-bottom:1px solid #ccc;border-top:1px solid #eee; background-color:#e3e3e3}
.block_light .block_small{ border-bottom:1px solid #ccc; border-top:1px solid #fff;background-color:#f7f7f7}



/*****************
* FORM
******************/
form .block_details{ display:block; float:left; width:100%; padding:10px 0; }
form .block_details input, form .block_details textarea{ 
-moz-border-radius: 3px; -webkit-border-radius: 3px;
	border-radius: 3px;
color:#333;padding:5px;border:1px solid #ccc;font-family:Arial, Helvetica, sans-serif; background-color:#fefefe; float:left;  font-size:1em;}
form .block_details input:focus{background-color:#eee; color:#333}
form .block_details textarea:focus{background-color:#fff}
form .block_details select{ border:1px solid #ccc}
form .block_details input:value{color:#FF0000}
form .block_details div{padding:5px 0; }

form .block_details div.required{text-align:left; clear:both; font-weight:bold }
form .block_details div.required div{ clear:none; padding:0}
form .block_details div.optional{text-align:left;clear:both; display:block}
form .block_details div.optional div{clear:none; padding:0}
form .block_details div.information {text-align:left;clear:both;}
form .block_details div.information label{ padding:1px 0 0 10px}
form .block_details div.required b{ }
form .block_details div.required input{}
#form_area_image {display:block; float:left; width:100%; padding:10px 0; }
form .block_details span.tiny{float:left}

form .block_details fieldset{ display:block; float:left; width:92%; margin:15px 2%; padding:10px 2%; border:1px solid #eee; background-color:#F3F9FD;-moz-border-radius: 3px; -webkit-border-radius: 3px;
	border-radius: 3px;}
form .block_details fieldset div img{ float:left}
form .block_details legend{ font-size:1em; color:#333; border:1px solid #eee; padding:5px 15px;-moz-border-radius: 3px; -webkit-border-radius: 3px;
	border-radius: 3px; background-color:#fefefe}
form .block_details label{ color:#333; display:block; float:left;width:25%;text-align:right; padding:4px 5% 0 0; }
form .block_details label span{ color:#fff }

form .block_details .radio { display:block; clear:none; float:right; background-image:none; }
form .block_details .radio input {width:auto; padding:0;background-image:none;}

form .block_details .checkbox {clear:none;background-image:none;padding:0; width:15px; display:block; float:left;}
form .block_details input.checkbox {width:auto; padding:0;background-image:none; }

form .block_details .select {clear:none; background-image:none;padding:5px 0 0 0; color:#999;}
form .block_details .select  input {width:auto; padding:0;background-image:none; }








.spec_module{ display:block; float:left; padding:0 0 0 20px}




.errorExplanation{ background-image:url(icons_warning.png); background-position:left; background-repeat:no-repeat; -moz-border-radius: 7px; 
-webkit-border-radius: 7px;
	border-radius: 7px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);display:block; float:left; background-color:#CC3333; padding:1% 2%; width:96%; color:#fff}
.errorExplanation h2{ font-size:1.3em; padding:2px; margin:0; color:#fff; padding: 0 0 0 135px}
.errorExplanation span{ display:block; float:left; padding: 0 0 0 135px}
.errorExplanation ul{ display:block; float:left;padding:0; margin:0; padding: 0 0 0 135px}
.errorExplanation ul li{ padding:0; margin:0 0 0 12px; list-style:disc; background-image:none; font-weight:bold}
.fieldWithErrors{ clear:none; padding:0; color:#ff0000;}
.fieldWithErrors input{border:0px; background-image:url(bkgd_login_error.gif);background-repeat:no-repeat; color:#f00}



/*****************
* Buttons
******************/
div.awesome{margin:10px 0}
.awesome, .awesome:visited {
	border:0;
	background: #91bd09; 
	display: inline-block; 
	padding: 7px 12px 8px; 
	color: #fff;
	margin:15px 5px 2px 0;
	text-decoration: none;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	cursor: pointer;
}
.awesome.spacing{ display:block; float:left; margin:10px}
.awesome.small{font-size:0.5em; font-weight:normal}
.awesome:hover	{ background-color: #7B9F09; color: #fff; }
.awesome:active		{ top: 1px; }
a.awesome { color:#fff}
a:hover.awesome{ color:#fff}
.small.awesome, .small.awesome:visited	{ font-size: 11px; padding:4px ; }
.awesome, .awesome:visited,
.medium.awesome, .medium.awesome:visited	{ font-size: 13px; font-weight: bold; line-height: 1; }
.large.awesome, .large.awesome:visited	{ font-size: 16px; padding: 9px 16px 10px; }
.green.awesome, .green.awesome:visited	{ background-color: #91bd09; }
.green.awesome:hover	{ background-color: #92C80B; }
.grey.awesome, .blue.awesome:visited	{ background-color: #CCC; }
.grey.awesome:hover	{ background-color: #999; }
.grey_light.awesome	{ background-color: #eee; color:#666 }
.grey_light.awesome:visited	{ background-color: #eee; }
.grey_light.awesome:hover	{ background-color: #eee; color:#000 }
.dark.awesome, .orange.awesome:visited	{ background-color: #333; }
.dark.awesome:hover	{ background-color: #000; }
.blue.awesome, .blue.awesome:visited	{ background-color: #004F8F; }
.blue.awesome:hover	{ background-color: #0072CF; }
.red.awesome, .red.awesome:visited	{ background-color: #e33100; }
.red.awesome:hover	{ background-color: #872300; }
.orange.awesome, .orange.awesome:visited	{ background-color: #ff5c00; }
.orange.awesome:hover { background-color: #d45500; }
.light.awesome, .light.awesome:visited	{ background-color:transparent; color:#666 ;text-shadow: 0 0px 0px rgba(0,0,0,0.25);}
.light.awesome:hover { background-color: #ccc; color:#FFFFFF }

.list table{ display:block; float:left; background-color:#EDF0F4; font-size:0.8em; width:100%}
.list table tr{border:1px solid #999; width:100%; padding:0; margin:0}
.list table tr th{background-color:#E3E3E3; padding:5px; color:#333}
.list table tr td{width:100%; background-color:#fff;padding:5px;}
tr.shade { background:#f0f0f0 none repeat scroll 0 0; }
tr.light { background:#fff none repeat scroll 0 0; }
tr.admin { background:#fcc none repeat scroll 0 0; }

table{ display:block; float:left; background-color:#EDF0F4; font-size:0.8em; width:100%}
table tr{border:1px solid #999; width:100%; padding:0; margin:0}
table tr th{background-color:#E3E3E3; padding:5px; color:#333}
table tr td{width:100%; background-color:#fff;padding:5px;}

.info_content{ display:block; float: left; width:100%; padding:10px 0}
div.jquery_button a{ padding:0; margin:0; background-color:#B5CF74; color:#fff; border:0px; font-size:0.8em}

.jquery_button a.jquery_patch.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only span.ui-button-text{ padding:5px; background-color:#6FD7DF;-moz-border-radius: 3px; -webkit-border-radius: 3px;
    border-radius: 3px;}




.signup{ display:block; float:left; width:99%; padding:5px 0; clear:both; font-size:0.7em; padding:10px 0 10px 1%; color:#666; border-top:1px solid #eee;}



#glowingtabs {
    border-bottom: 1px solid #D3D3D3; font-family:Arial,Sans-Serif;
    display: block;
    float: left;
	margin:0 2% 10PX;
    padding: 40px 0 0;
	line-height:1.5em; 
	font-size:11px;
    width: 96%;
}
#glowingtabs ul {
    bottom: -1px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#glowingtabs li {
    display: inline;
    margin: 0;
    padding: 0;
}
#glowingtabs a {
    background: url("..admin/glowtab-left.gif") no-repeat scroll 0 0 transparent;
    float: left;
    margin: 0 1px 0 0;
    padding: 0 0 0 9px;
    text-decoration: none;
}
#glowingtabs a span {
    background: url("..admin/glowtab.gif") no-repeat scroll right top transparent;
    color: #999999;
    display: block;
    float: left;
    font-family: Arial,sans-serif;
    font-weight: bold;
    padding: 4px 11px 8px 2px;
}
#glowingtabs a span {
    float: none;
}
#glowingtabs a:hover span {
    color: #333333;
}
#glowingtabs a#selected {
    background-position: 0 -30px;
    font-weight: bold;
}
#glowingtabs a#selected span {
    background-position: 100% -30px;
    color: #298CDD;
}
#glowingtabs a:hover {
    background-position: 0 -30px;
    font-weight: bold;
}
#glowingtabs a:hover span {
    background-position: 100% -30px;
}



#comments {
  float:left;
  width:450px;
}

#comment-wrapper {
  position: relative;
}

#commentWrapper { /* required to avoid jumping */
  left: 15pxpx;
  position: absolute;
  top:15px
}

#comment {
  position: absolute;
  z-index:200;
  top: 0; width:686px
}
#comment .toolbar {
visibility:hidden; float:right; display:none;
}
#comment .toolbar .awesome {
margin:0 5px 5px 0px
}


#comment.fixed {
width:704px;
  position: fixed;
    left: 290px;
  top: 0;
  -moz-border-radius: 0px 0px 7px 7px;
-webkit-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px; background-color:#DCF6DB; border:0px solid #ccc; float:none;
	 -moz-box-shadow: 0px 2px 4px  rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}
#comment.fixed h4 {
background-color:transparent;
border:0px; margin:0;
}
#comment.fixed .toolbar {
visibility:visible; display:block
}



#errorExplanation{ -moz-border-radius: 3px; 
-webkit-border-radius: 3px;
    border-radius: 3px;
display:block; float:left; background-color:#DF816F; padding:10px; width:92%; color:#fff; text-align:left; margin:15px}
#errorExplanation h3{ font-size:1.3em; padding:2px; margin:0 0 10px 0; color:#fff; padding: 0 0 0 0px}
#errorExplanation span{ display:block; float:left; padding: 0 0 0 135px}
#errorExplanation ul{ display:block; float:left;padding:0; margin:0; padding: 0 0 0 0px}
#errorExplanation ul li{ padding:0; margin:0 0 0 12px; list-style:disc; background-image:none; font-weight:bold; color:#fff}
.field_with_errors{ clear:none; padding:0; color:#fff; width:40%}
.field_with_errors input{border:2px solid red;}
.field_with_errors input:focus{border:2px solid red; background-color:#eee}
.field_with_errors textarea{border:2px solid red;}
.field_with_errors textarea:focus{border:2px solid red; background-color:#eee}